body{ 
    background-color: rgb(13, 18, 87);
}

.cotainer-image{
   
}

.image1,.image2{
    width: 227px;
    height: 170px;
     display: flex;
    align-items: center;
    justify-content: space-around;
}
